@use "sass:math";
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Titillium Web";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// ._container {
//     max-width: $maxWidthContainer + 10px;
//     margin: 0 auto;
//     @media (max-width: $md1 + 1px) {
//         max-width: 970px;
//     }
//     @media (max-width: $md2+ 1px) {
//         max-width: 750px;
//     }
//     @media (max-width: $md3+1px) {
//         max-width: none;
//         padding: 0 10px;
//     }
// }
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
body {
    background: #fff;
    .wrapper {
        width: $maxWidth;
        position: relative;
        font-family: $fontFamily;
    }
}

.welcome__block {
    position: relative;
    display: flex;
    background-color: #87509c;
    justify-content: center;
    height: 455px;
    margin: 144px 0 0 0;
}
.welcome__text {
    margin: 0 auto;
    height: 144px;
}
.welcome__text-text {
    display: flex;
    margin: 86px auto;

    width: 906px;
    color: #f7f3ea;
    font-size: 42px;
    font-weight: 700;
    // letter-spacing: 1.2px;
    line-height: 48.82px;
    text-align: center;
}
.welcome__block-button {
    white-space: nowrap;
    width: 293px;
    height: 70px;
    background-color: #eb7d4b;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // border-radius: 5px;
    margin: 90px auto;
    justify-content: center;
    box-shadow: 0 3px #c86a40;
    transition: 0.2s;
    cursor: pointer;
    .button-link {
        padding: 21px 0px 0 3px;
        width: 130px;
        word-spacing: 3px;
        height: 14px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;

        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
    }
    &:active {
        border: 4px #eb7d4b solid;
        opacity: 0.2;
        background-color: #87509c;
        box-shadow: 0 0;
        a {
            opacity: 1;
        }
    }
}
.services {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 750px;
    width: 100%;
    background-color: #17c2a4;
    h1 {
        position: absolute;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin: 120px 0 0 320px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        line-height: 29.91px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .services__description {
        display: flex;
        margin: 0px 0px 0 0px;
        .services__desription-text {
            width: 603px;
            margin: 193px 0 0 270px;
            height: 45px;
            color: #ffffff;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.36px;
        }
    }
    .services__items {
        margin: 80px 0px 0px 0;
        .services__items-item {
            margin: 0px 0px 0px 0px;
        }
        .item__img {
            margin: 0 0 0 100px;
        }
        .item__name {
            margin: 62px 0 0 72px;
            white-space: nowrap;
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.48px;
        }
        .item__description {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.32px;
        }
    }
}

.team {
    height: 910px;
    width: 100%;
    background-color: #e7f1f8;
}
